.bg-container {
  text-align: center;
  background-color: #eff6e0;
  width: 100%;
}

.select-input {
  height: 45px;
  width: 50%;
  border: 1px solid #778da9;
  border-radius: 6px;
  margin-top: 40px;
  margin-bottom: 10px;
  outline: none;
  font-size: 18px;
  padding: 10px;
  background-color: white;
  color: #415a77;
  font-weight: bold;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
}

.loader-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-image {
  margin-bottom: 15px;
  margin-top: 50px;
  width: 450px;
}

.failure-heading {
  color: #475569;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: bold;
  margin-bottom: -10px;
}

.failure-info {
  color: #64748b;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
}

.failure-button {
  background-color: #328af2;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 10px 25px 10px 25px;
}
