.footer-container {
  background-color: #eff6e0;
}
.hr-line {
  border-top: 2px solid #778da9;
  width: 90%;
}

.footer-text {
  text-align: center;
  color: #f85e00;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .footer-text {
    font-size: 10px;
  }
}
